

/* Reset de Estilos Padrão do Body */
body {
    margin: 0;
    padding: 0;
}

/* Importar a fonte Adelia (substitua a URL pela URL correta da fonte) */
@import url('https://fonts.googleapis.com/css2?family=Adelia&display=swap');

/* Seu Estilo Existente */
body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd81;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    color: #417546;
    font-family: 'Adelia', sans-serif; /* Usar a fonte Adelia e fallback para sans-serif se não estiver disponível */
}

h2 {
    font-size: 20px;
    color: #43814a;
}

p {
    font-size: 15px;
    color: #417546;
}

.section-desc {
    margin-bottom: 50px;
}

.section-title {
    margin-top: 50px;
}

.container {
    max-width: 1000px;
    padding: 20px;
    background-color: #79c27781;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
    color: black;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #417546;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

.package-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.package {
    width: 25%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); 
    text-align: center;
    border: 1px solid #417546;
}

.package img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin: 0 auto;
    display: block;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 194, 119, 0.81);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#popup-image {
    max-width: 100%;
    max-height: 60%;
    margin: 0 auto;
    display: block;
}

#popup-title {
    font-size: 24px;
    color: #417546;
}

#popup-description {
    font-size: 16px;
    color: #333;
}

/* Estilos para a imagem do canto inferior esquerdo */
/* Estilos para a imagem do canto inferior esquerdo */
.corner-image.left {
    position: fixed;
    width: auto; /* Ajuste conforme necessário */
    height: 800px; /* Ajuste conforme necessário */
    overflow: hidden; /* Isso ajuda a esconder qualquer conteúdo que ultrapasse as dimensões definidas */
    bottom: 0; /* Ajuste para o canto inferior */
    left: 0; /* Ajuste para o canto esquerdo */
}

.corner-image.left img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Isso garante que a imagem cubra completamente o contêiner */
}


.bottom-left {
    bottom: 0;
    left: 0;
}

/* Estilos para a imagem do canto inferior direito */
.corner-image.right {
    position: fixed;
    width: 420px; /* Ajuste conforme necessário */
    height: 900px; /* Ajuste conforme necessário */
    overflow: hidden; /* Isso ajuda a esconder qualquer conteúdo que ultrapasse as dimensões definidas */
    bottom: 0; /* Ajuste para o canto inferior */
    right: 0; /* Ajuste para o canto direito */
}

.corner-image.right img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Isso garante que a imagem cubra completamente o contêiner */
}

.bottom-right {
    bottom: 0;
    right: 0;
}

/* Adicione estas regras ao seu arquivo styles.css */
.profile-image {
    margin-bottom: 20px; /* Ou ajuste conforme necessário */
}

.image-space {
    height: 20px; /* Ou ajuste conforme necessário */
}